<div class="jumbotron">
  <div class="container text-center">
    <h1>Browser notifications example</h1>
    <br>

    <%= link_to "Generate account", "#", class: "btn btn-primary btn-lg" %>
    <%= link_to "Connect to account", "#", class: "btn btn-default btn-lg" %>
  </div>
</div>
