<div class="jumbotron">
  <div class="container text-center">
    <% if @account.present? %>
      <h4>Your pin is:</h4>
      <h1><%= @account.pin %></h1>
    <% else %>
      <h1>Browser notifications example</h1>
      <br>

      <%= link_to "Generate account", accounts_path, method: :post, class: "btn btn-primary btn-lg" %>
      <%= link_to "Connect to account", new_connection_path, class: "btn btn-default btn-lg" %>
    <% end %>
  </div>
</div>
