@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";

.message {
  padding: $padding-large-vertical;

  &.is-warn {
    color: $gray;
  }

  &.is-error {
    color: $brand-danger;
  }
}
