<% if flash.any? %>
  <div class="flashes">
    <% user_facing_flashes.each do |key, value| -%>
      <div class="alert alert-<%= flash_class key %>"><%= value %></div>
    <% end -%>
  </div>
<% end %>
